body {
  padding-top: 90px;
  padding-bottom: 20px;
  font-size: 17px;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.dl-horizontal dt {
  white-space: normal;
}
input {
  max-width: 280px;
}
select {
  max-width: 280px;
}
textarea {
  max-width: 280px;
}
span.field-validation-error {
  color: red;
  font-weight: bold;
}
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 20px;
}
.voffset4 {
  margin-top: 40px;
}
.voffset5 {
  margin-top: 80px;
}
.popover {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .notifications {
  position: relative;
}
.navbar-inverse .notifications .badge {
  position: absolute;
  top: 8px;
  right: -1px;
  background: #a80a0a;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: rgba(205, 40, 39, 0.55);
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: rgba(205, 40, 39, 0.55);
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(205, 40, 39, 0.55);
}
.navbar-brand {
  font-weight: 700;
}
.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control {
  font-size: 17px;
  padding: 10px 16px;
  height: 44px;
  border-radius: 9px;
  ms-border-radius: 9px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #2196f3;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn {
  font-size: 17px;
  padding: 7px 20px;
  border-radius: 9px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 9px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 9px;
}
.gigs {
  list-style: none;
}
.gigs > li {
  position: relative;
  margin-bottom: 30px;
}
.gigs > li .details {
  position: absolute;
  top: 0;
  left: 70px;
}
.gigs > li .details .artist {
  font-weight: bold;
  display: block;
}
.gigs > li .details .genre {
  font-size: 15px;
  display: block;
}
.gigs > li .date {
  background: red;
  color: white;
  text-align: center;
  width: 60px;
  border-radius: 8px;
}
.gigs > li .date .month {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
}
.gigs > li .date .day {
  background: #f7f7f7;
  color: #333;
  font-size: 20px;
  padding: 6px 12px;
}
.gigs > li .actions {
  font-size: 15px;
  display: none;
}
.gigs > li:hover .actions {
  display: block;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.popover-notifications .popover-content {
  padding: 0;
}
.popover-notifications ul.notifications {
  list-style: none;
  padding-left: 0;
}
.popover-notifications ul.notifications > li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
  border-bottom: none;
}
.popover-notifications ul.notifications .highlight {
  font-weight: bold;
}
#searchGigs {
  width: 300px;
}